python-dotenv
redis
qrcode

streamlit
streamlit-pills
streamlit_cookies_manager

langchain
langchain_core
langgraph
langchain_openai
langchain_community

ollama
openai
google-generativeai
mistralai

bolt11
